.settings
.classpath
.project
.DS_Store
*.ser
tmp
test-result
logs
eclipse
precompiled
samples-and-tests/testcases/*.ser
samples-and-tests/testcases/tmp
samples-and-tests/testcases/test-result
samples-and-tests/testcases/logs
samples-and-tests/testcases/eclipse
samples-and-tests/testcases/precompiled
samples-and-tests/yabe-with-solr/*.ser
samples-and-tests/yabe-with-solr/tmp
samples-and-tests/yabe-with-solr/test-result
samples-and-tests/yabe-with-solr/logs
samples-and-tests/yabe-with-solr/eclipse
samples-and-tests/yabe-with-solr/precompiled